transformers
torch
torchvision
torchaudio
diffusers
accelerate
safetensors
sentencepiece
pillow
opencv-python
datasets
scipy
matplotlib
gradio
protobuf
llama_models[torch]
llama-cpp-python
llama-cpp-python[convert]